<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251" />
    <title>Spring MVC</title>
</head>

<body>

<h3> ??????? ????????? ?????????? ? ???????????? ??????? clone</br> </h3>
<p> package ru.bsa.Prototype;</br></br>

    public interface Copyable {</br>
    Object clone();</br>
    }</br></p>

<h3> ????????? ? ?????? ??????? ?????????? ????? ????????????, ??????? ??????? ????? ?? ????? ??????:</br>
     ?????? ????????? new ? ????????????? ?????????. ??? ??????, ?????????????? ????????????,</br>
     ?????? ???? ?????????? ????? clone, ????? ???????????? ??????????? ????? ? ?????????? new.</br></h3>
<p> package ru.bsa.Prototype;</br></br>

    public class Project implements Copyable{</br>
    private int id;</br>
    private String projectName;</br>
    private String sourceCode;</br>
    public Project(int id, String projectName, String sourceCode) {</br>
    this.id = id;</br>
    this.projectName = projectName;</br>
    this.sourceCode = sourceCode;</br>
    }</br>

    public int getId() {</br>
    return id;</br>
    }</br>

    public void setId(int id) {</br>
    this.id = id;</br>
    }</br>

    public String getProjectName() {</br>
    return projectName;</br>
    }</br>

    public void setProjectName(String projectName) {</br>
    this.projectName = projectName;</br>
    }</br>

    public String getSourceCode() {</br>
    return sourceCode;</br>
    }</br>

    public void setSourceCode(String sourceCode) {</br>
    this.sourceCode = sourceCode;</br>
    }</br>

    @Override</br>
    public Object clone() {</br>
    Project project = new Project(id, projectName, sourceCode);</br>
    return project;</br>
    }</br>

    @Override</br>
    public String toString() {</br>
    return "Project{" +</br>
    "id=" + id +</br>
    ", projectName='" + projectName + '\'' +</br>
    ", sourceCode='" + sourceCode + '\'' +</br>
    '}';</br>
    }</br>
    }</br></p>

<h3> ??????? ??????????? ????????? ??????????. ? ??? ?????? ??????? ???????? ????????, ????????, ???? ?????? ??????,</br>
     ?? ??-??????? ???????????.</br>
     ????????? ??? ????????? ???? ? ????? ????????? ??????. ??????????? ?? ?????? ??????? ????????????? ????????,</br>
     ??????? ?? ???????? ?????????? ?????? ????????? ??????????. </br></h3>
<p> package ru.bsa.Prototype;</br></br>

    public class ProjectFactory {</br>
    Project project;</br>

    public ProjectFactory(Project project) {</br>
    this.project = project;</br>
    }</br>
    public void setProject(Project project) {</br>
    this.project = project;</br>
    }</br>
    public Project cloneProject(){</br>
    return (Project) project.clone();</br>
    }</br>
    }</br></p>

<h3> ????????? ????? </h3>
<p> package ru.bsa.Prototype;</br></br>

    public class StartPrototype {</br>
    public static void main(String[] args) {</br>

    Project projectOrigin = new Project(1, "project+","sourcecode");</br>

    System.out.println(projectOrigin);</br>

    ProjectFactory projectFactory = new ProjectFactory(projectOrigin);</br>
    Project projectClone = projectFactory.cloneProject();</br>

    System.out.println(projectClone);</br>
    }</br>
    }</br></p>


</body>

</html>