<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta charset="UTF-8">
    <title>Spring MVC</title>
</head>

<body>

<h3> ??????? ????????? ?????????? ? ???????????? ??????? clone </h3>
<p> package ru.bsa.Prototype;

    public interface Copyable {
    Object clone();
    }</p>

<h3> ????????? ? ?????? ??????? ?????????? ????? ????????????, ??????? ??????? ????? ?? ????? ??????:
     ?????? ????????? new ? ????????????? ?????????. ??? ??????, ?????????????? ????????????,
     ?????? ???? ?????????? ????? clone, ????? ???????????? ??????????? ????? ? ?????????? new.</h3>
<p> package ru.bsa.Prototype;

    public class Project implements Copyable{
    private int id;
    private String projectName;
    private String sourceCode;
    public Project(int id, String projectName, String sourceCode) {
    this.id = id;
    this.projectName = projectName;
    this.sourceCode = sourceCode;
    }

    public int getId() {
    return id;
    }

    public void setId(int id) {
    this.id = id;
    }

    public String getProjectName() {
    return projectName;
    }

    public void setProjectName(String projectName) {
    this.projectName = projectName;
    }

    public String getSourceCode() {
    return sourceCode;
    }

    public void setSourceCode(String sourceCode) {
    this.sourceCode = sourceCode;
    }

    @Override
    public Object clone() {
    Project project = new Project(id, projectName, sourceCode);
    return project;
    }

    @Override
    public String toString() {
    return "Project{" +
    "id=" + id +
    ", projectName='" + projectName + '\'' +
    ", sourceCode='" + sourceCode + '\'' +
    '}';
    }
    }</p>

<h3> ??????? ??????????? ????????? ??????????. ? ??? ?????? ??????? ???????? ????????, ????????, ???? ?????? ??????, ?? ??-??????? ???????????.
     ????????? ??? ????????? ???? ? ????? ????????? ??????. ??????????? ?? ?????? ??????? ????????????? ????????,
     ??????? ?? ???????? ?????????? ?????? ????????? ??????????. </h3>
<p> package ru.bsa.Prototype;

    public class ProjectFactory {
    Project project;

    public ProjectFactory(Project project) {
    this.project = project;
    }
    public void setProject(Project project) {
    this.project = project;
    }
    public Project cloneProject(){
    return (Project) project.clone();
    }
    }</p>

<h3> ????????? ????? </h3>
<p> package ru.bsa.Prototype;

    public class StartPrototype {
    public static void main(String[] args) {

    Project projectOrigin = new Project(1, "project+","sourcecode");

    System.out.println(projectOrigin);

    ProjectFactory projectFactory = new ProjectFactory(projectOrigin);
    Project projectClone = projectFactory.cloneProject();

    System.out.println(projectClone);
    }
    }</p>


</body>

</html>